html {
  background: url("groceries.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
}

.modal {
  width: 50%;
  margin: 100px auto;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.center {
  text-align: center;
}

.date-picker {
  display: inline-block;
}

.bg-check {
  padding-top: 25px;
  padding-left: 5px;
  text-align: left;
}

.button {
  width: 166px;
}